.custome-nav {
  background: #32353c;
  color: rgb(24, 193, 193);
  width: 100vw;
}

.App-logo {
  height: 6vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item{
  font-size: calc(2vmax);
  list-style: none;
  margin-left: 20px;
}

.navbar-title {
  font-size: 42px; /* Tamaño predeterminado */
}

@media (max-width: 768px) {
  .navbar-title {
    font-size: 18px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .navbar-brand {
    font-size: calc(2.7vmax);
    color: #00c8ff;
    width: 32vw;
    margin-left: -2vw;
}

.navbar-brand:hover {
    color: #00c8ff;
}

.navbar-nav{
    margin-top: 1%;
    padding: 15vw;
    display: flex;
    flex-direction:row;
    width: 60vw;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item{
    font-size: calc(2vmax);
    color: #00c8ff;
    list-style: none;
    padding: 10px;
}

.navbar .dropdown {
    position: relative;
}

.navbar .dropdown :hover{
    color: #00c8ff;
}

.navbar .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.navbar .dropdown:hover ul {
    display: block;
    background-color: #00ffff !important;
    padding: 10px;
    z-index: 9000 !important;
} */
