.Phonebook{
  background-image: url('../../assets/backgroundsPhonebook.jpg');
  /* background-color: #0598a8; */
  position: absolute;
  top: 10vh;
  left: 0;
  color: rgb(255, 153, 0);
  width: 100vw;
  height: 90vh;
  font-size: calc(2vmin);
}

.header-container {
  display: flex;
  align-items: center;
}

#TitlePhonebook {
  font-size: calc(5vmin);
  width: 20vw;
  margin-left: 3vw;
}

.Notification {
  margin-left: 5vw;
  width: 60vw;
}

#Filter{
  position: fixed;
  margin-left: 6vw;
  font-size: calc(3vmin);
}

#filt_bar{
  position: fixed;
  width: 30vw;
}

#filterName{
  background-color: aliceblue;
  width: 20vw;
}

#Addinfo_phone{
  position: absolute;
  left:60vw;
  top:20vh;
  width:34vw;
  min-height: 30vh;
}

#Edit_phone{
  position: absolute;
  left:60vw;
  top:20vh;
  width:34vw;
  min-height: 30vh;
}

#title_h3_phonebook{
  position: absolute;
  left: -3vw;
  top: 25vh;
  width: 30vw;
}

.book {
  position: fixed;
  left: 0;
  top: 40vh;
  /* border: solid 8px #000000; */
  width: 43vw;
  max-height: 50vh;
  overflow-y: auto;
  margin-left: 4vw;
  border-radius: 10px;
}

.col{
  padding: 2%;
}

.book::-webkit-scrollbar {
  width: 0.5em;
}

.book::-webkit-scrollbar-thumb {
  background-color: #03272f;
  outline: 1px solid #025159;
  border-radius: 2px;
}

#ul{
  position: flex;
  left: 0vw;
  list-style: none;
  width: 40vw;
}

.book_item{
  position: relative;
  left: 2.5vw;
  width: 35vw;
}

.Phone_Button{
  width: 4.5vw;
}

.card-header{
  width: 100%;
  font-size: calc(3vmin);;
}

.buttons_List{
  text-align: right;
  width: 100%;
  margin-right: 3vw;
}

/* .accordion-button {
  background-color: #03b3ff;
}

.accordion-item.show .accordion-button {
  background-color: #03b3ff;
} */

.accordion-item {
  border: solid 2px #000000;
  background-color: rgba(0, 179, 255, 0.7);
}

/* .accordion-header{
  height: 8vh;
} */
